/target

# Override global ignore for dotfiles we need tracked
!.pre-commit-hooks.yaml
!.github/
!.lychee.toml
!.typos.toml
*.swp
*.swo
*~
.direnv/
result
result-*
docs/.ox-rst/
docs/build/
docs/source/*.rst
docs/source/contributing/
docs/source/faq/
docs/source/howto/
docs/source/reference/
docs/source/tutorials/
docs/locale/pot/
docs/locale/**/*.mo
dist/
